/****************************
	 
FRONT MENU

*****************************/

*					                     { margin: 0; padding: 0; -webkit-print-color-adjust:exact;}
body				                     { font: 12px "Lucida Grande", Helvetica, Arial, Sans-Serif; background: #386EA4; }
html                                     { overflow-y: scroll; }
a                                        { text-decoration: none; outline: 0; }
a img                                    { border: 0; }
#page-wrap		                         { width: 945px; margin: 0 auto; position: relative; }

#nav-bar                                 { background: url(../images/cib/navbar-bg.png) repeat-y; width: 191px; position: fixed; -moz-border-radius-bottomleft: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-left-radius: 3px; -webkit-border-bottom-right-radius: 3px; 
	min-height: 585px;
	margin-top: 20px;
}
#nav-bar ul                              { list-style: none; margin: 50px 0 100px 0; }
#nav-bar ul li                           { font-size: 12px; text-align: right; }
body#usage ul li.usage a,
body#index ul li.index a,
body#demo1 ul li.demo1 a,
body#demo2 ul li.demo2 a,
body#changelog ul li.changelog a,
body#parameters ul li.parameters a,
#nav-bar ul li.active a                  { position: relative; background: white; z-index: 300; border-bottom-color: white; border-top-color: white; }
#nav-bar ul li.active a:hover            { background: white; }
#nav-bar ul li a                         { display: block; padding: 10px 40px 10px 5px; border-top: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(255,255,255,0.2); color: #444; text-shadow: 1px 1px 1px white; font-weight: bold; }
#nav-bar ul li:first-child a             { border-top: 0; }
#nav-bar ul li:last-child a              { border-bottom: 0; }
#nav-bar ul li a:hover                   { background: rgba(0,0,0,0.07); }


h1                                       { font: bold 32px Helvetica, Sans-Serif; letter-spacing: -1px; padding: 18px 0 18px 210px; }
h1 a                                     { color: white; }
h1 a span                                { background: #4660e2; padding: 3px 8px; -moz-border-radius: 4px; -webkit-border-radius: 4px; color: white; font-size: 20px; letter-spacing: 0; position: relative; top: -6px; font-weight: normal;  }
h1 a:hover span:after                    { content: " Download!"; font-size: 11px; position: relative; bottom: 2px;  }
#main-content                            { position: relative; z-index: 200; margin: 0 0 0 205px; background: white; -moz-border-radius: 3px; -webkit-border-radius: 3px; -moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.6); padding: 30px; min-height: 450px; }
#main-content-cert                       { position: relative; z-index: 200; margin: 0 0 0 205px; background: white; -moz-border-radius: 3px; -webkit-border-radius: 3px; -moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.6); padding: 10px; min-height: 450px; }

#ajax-loader                             { display: none; position: absolute; top: 100px; left: 280px; }

#nav-bar .support                        { text-align: left; margin: 0 25px 20px 20px; }
#nav-bar .support h4                     { text-transform: uppercase; border-bottom: 1px solid #4660e2; color: #4660e2; padding-bottom: 5px; margin-bottom: 5px; }
#nav-bar .support ul                     { margin: 0 0 0 12px; list-style: disc; }
#nav-bar .support ul li                  { text-align: left; font-size: 11px; margin: 0 0 4px 0; }

#footer                                  { position: relative; z-index: 350; margin: 5px 0 15px 210px; color: white; }


/*
    Typography
*/
p                                        { margin: 0 0 15px 0; }
.callout                                 { background: #fdfce4; padding: 15px; border: 1px solid #fff000; -moz-border-radius: 6px; -webkit-border-radius: 6px; }                  
h2{
	margin-bottom: 10px;
	color: #386EA4;
}
h3                                       { font-size: 16px; color: #4660E2 }
h4                                       { font-size: 16px; margin: 0 0 15px 0; text-transform: uppercase; }
pre                                      { padding: 15px; background: #eee; border: 1px solid #666; margin: 0 0 15px 0; white-space: pre-wrap; }
code                                     { font: 11px Monaco, Courier, MonoSpace; }

#main-content a                          { text-decoration: underline; }
#main-content a:hover:not(.button)                    { text-decoration: none; border-bottom: 2px solid #4660e2; }


.logo{text-align: center;
background: #fff;}
.logo img{/* width: 148px; */
text-align: center;}

table label{ float:right;}

  #fset { padding: 10px; border-color: #e5e5e5; margin-bottom: 10px;border-radius: 5px;}
      #fleg {padding: 5px; background-color: #242424; color: #fff;}


/*----------FIELDSET----------*/

fieldset{
	padding: 0 8px 12px 8px;
	background-color: #f9f6f1;
	border: #C4C4C4 1px solid;
	margin: 0 0 8px 0;
	border-radius: 3px;
}

fieldset legend{
	padding: 4px 15px;
	font-weight: bold;
	background-color: #386ea4;
	margin-left: 15px;
	color: #ffffff;
	border-radius: 3px;
}      

p.element {
	margin: 10px 0;
	padding: 0px;
}


label {
	width: 20%;
	display: block;
	float: left;
	text-align: right;
	margin-right: 20px;
	padding: 2px;
	font-weight: bold;
	cursor: pointer;
}

em.required {
	color: #B8272F;
}

/*----------BUTTONS----------*/

form input[type=button], form input[type=submit], form input[type=reset]{
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: #E67731;
	transition: background-color 0.2s ease;
	border: none;
}

form input[type=button]:hover, form input[type=submit]:hover, form input[type=reset]:hover{
	background: #FF883D;

}

/*.button{
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: #E67731;
	transition: background-color 0.2s ease;
}

.button:hover{
	background: #FF883D;
}*/

.buttongroup{
	margin: 0;
}


#main-content a{
	text-decoration: none;
}

#main-content a:hover:not(.button){
	border: none;
	text-decoration: underline;
}





div.response{
	margin-bottom:6px;
	padding:4px 0 4px 4px;
	line-height:16px;
	color:#000;
	font-size:11px;
	font-weight:bold;
/*	position: fixed;
*/	z-index: 1000;
}

div.response.error{background:#E8B0B0;}
div.response.info{background:#FFF7A1;}
div.response.success{background:#B4D65E;}
div.response.alert{background:#E9CFCD;}



/*----------LOGIN FORM----------*/

#login-form{
	padding: 25px 15px 30px 18px;
}

#login-form .left{
	float: left;
	width: 290px;
	border-right: 1px solid #CACACA;
	padding-right: 40px;
	text-align: center;
}

#login-form .right{
	float: right;
	width: 290px;
	text-align: center;
	margin-top: 34px;
}

#login-form input[type=text], #login-form input[type=password]{
	border: 1px solid #A9A9A9;
	background-color: #ffffff;
	padding: 5px 5px 5px 35px;
	border-radius: 30px;
	width: 215px;
}

#login-form input[type=text]:focus, #login-form input[type=password]:focus{
	outline: 0;
	background-color: #f9f9f9;
}


#login-form form input[type=button], form input[type=submit], form input[type=reset]{
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
	border: 1px solid #666666;
	box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
	transition: all 0.2s ease;

}

#login-form form input[type=button]:hover, form input[type=submit]:hover, form input[type=reset]:hover{
	background: linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));

}

#login-form a.btn-link{
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	/*outline: none;*/
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
	border: 1px solid rgba(84, 84, 84, 0.45);
	box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
	transition: all 0.2s ease;

}

#login-form a.btn-link:hover{
	background: linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));
	border: 1px solid rgba(84, 84, 84, 0.45);
	text-decoration: none;

}

#login-form .registerButton .btn-link{
	width: 150px;
}

#login-form .nonclientButton .btn-link{
	width: 150px;
}

.left .incon p label{
	text-align: left;
	margin-left: 16px;
}

#transborder-username{
}

#transborder-password{
}

#reset-login{
	width: 352px;
	margin-left: 16px;
}

#reset-login p{
	display: inline;
}

.reset-link{
	margin: 8px 0 0 5px;
}

#reset-login .reset-link{
	float: left;
	font-weight: bold;
}

#reset-login .reset-link a{
	color: #000000;
}

#reset-login .reset-link a:hover{
	color: #000000;
	text-decoration: underline;
}

.registerButton{
	margin: 4px;
}

.registerButton input[type=submit]{
	width: 200px;
}

.nonclientButton{
	margin: 4px;
}

.nonclientButton input[type=submit]{
	width: 200px;
}

p.or-seperator{
	color: #969696;
	border-top: 1px solid #CACACA;
	width: 210px;
	margin: 16px auto;
}

.or-seperator label{
	margin: -11px 22px 3px 88px;
	background: #f9f6f1;
	text-align: center;
	width: 25px;
}


a.btn-link,span.btn-link{
	/*border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: #E67731;
	transition: background-color 0.2s ease;
	border: none;*/

	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
	border: 1px solid #666666;
	box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
	transition: all 0.2s ease;
}
.btn-link-small{
	background: rgba(220,109,39,1);
}

a.btn-link:hover,span.btn-link:hover{
	/*background: #FF883D;*/
	background: linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));
}


.button{
	/*border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: #E67731;
	transition: background-color 0.2s ease;
	border: none;*/

	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
	border: 1px solid #666666;
	box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
	transition: all 0.2s ease;
}

.button:hover{
	/*background: #FF883D;*/
	background: linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));
	border: 1px solid #666666;
	/*outline: 0;*/
}


/*----------FORMS----------*/

form select{
	padding: 5px;
	width: 240px;
	border-radius: 3px;
	font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
	/*min-width: 275px;*/
	border: 1px solid #bbb;
}

form input[type=text], input:not([type]), form input[type=number],form input[type=tel], form input[type=password], form input[type=email]{
	padding: 5px;
	width: 228px;
	border-radius: 3px;
	font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
	/*min-width: 275px;*/
	border: 1px solid #bbb;
}

textarea{
	min-width: 240px;
}

.info{
	margin: 15px 0;
	font-style: italic;
}


.field-info{
	float: right;
	width: 180px;
}


/*---------- ----------*/

/*-----2014-11-20 - Search notice - tabbed radio----------*/

#tabbed-radio{
	border: 1px solid #cccccc;
	width: 410px;
	margin: 12px auto 20px auto;
	padding: 3px 8px 12px 8px;
	border-radius: 5px;
	background: #ffffff;
	font-size: 15px;
}

#tabbed-radio input[type=radio]{
	position: absolute;
	clip: rect(0,0,0,0);
	pointer-events: none;
}

#tabbed-radio label{
	margin: 0 2px;
	width: auto;
	border-right: 1px solid #cccccc;
	padding: 0 15px;
	transition: color 0.25s ease;
}

#tabbed-radio label:last-child{
	border: none;
}

#tabbed-radio label:hover{
	color: #FF883D;
}

#tabbed-radio select, input[type=text]{
	min-width: 226px;
	padding: 2px;
}



/*--------2014-11-19 - certificate --------*/
/*
	.inside-report{
		border: 1px solid #aaaaaa;
		border-radius: 5px;
		padding: 6px 14px;
	}

	.inside-report h3{
		font-size: 16px;
		color: #4660E2;
		width: 100%;
		text-align: center;
		margin: 14px 0 20px 0;
	}


	.inside-report .signed{
		border: 1px solid #aaaaaa;
		border-radius: 3px;
		margin: 5px;
		padding: 6px 8px;
		width: 47%;
		height: 50px;
		float: left;
	}

	.inside-report .cib-address{
		border: 1px solid #aaaaaa;
		border-radius: 3px;
		margin: 5px;
		padding: 6px 8px;
		width: 47%;
		height: 50px;
		float: left;
	}

	.inside-report .search-details{
		margin: 15px 0;
	}

	.inside-report .search-details .head{
		font-weight: bold;
		text-decoration: underline;
	}


	.inside-report .search-details p{
		margin: 2px 0; 
	}

	.inside-report h4{
		font-size: 14px;
		margin-top: 10px;

	}

	.inside-report .section{
		margin: 0 0 15px 0;
	}

	.inside-report .section ul li{
		display: inline;
		margin-right: 4px;
	}


	.inside-report .section ul{
		margin: 5px 0;
	}

	.inside-report .section span{
		font-weight: bold;
		margin: 10px 0 0 0;
	}

	.description{
		margin: 5px 0;
		font-weight: bold;
	}

	#cert-box{
		width: 100%;
		border: none;
	}

	#cert-box th{
		background: #ffffff;
		color: #333333;
	}

	#cert-box tr{
		background: #ffffff;
		color: #333333;
	}

	#cert-box td{
		border: 1px solid #c4c4c4;
		border-radius: 3px;
		vertical-align: top;
		padding: 7px 12px;
	}

	.signed-block{
		width: 50%
	}

	#cert-box-record{
		width: 100%;
		border: none;
	}



	#cert-box-record tr{
		background: #ffffff;
		color: #333333;
	}

	#cert-box-record td{
		border: 1px solid #c4c4c4;
		border-radius: 3px;
		vertical-align: top;
		text-align: center;
	}


	#cert-box-table{
		width: 100%;
		border: 1px solid #c4c4c4;
		border-spacing: 0px;
		border-radius: 3px;
		margin: 10px 0;
		border-bottom: none;
	}

	#cert-box-table th{
		background: #ffffff;
		color: #333333;
		border: 1px solid #c4c4c4;
		padding: 2px;
		border-spacing: 0;
		border-top: none;
		border-right: none;

	}

	#cert-box-table th:first-child{
		border-left: none;
		border-top: none;
		border-right: none;
	}

	#cert-box-table th:last-child{
		border-top: none;
		border-right: none;
	}

	#cert-box-table tr{
		background: #ffffff;
		color: #333333;
		padding: 2px;
		
	}

	#cert-box-table td{
		border: 1px solid #c4c4c4;
		padding: 2px;
		border-spacing: 0;
		border-top: none;
		border-right: none;
	}

	#cert-box-table td:first-child{
		border-left: none;
		border-top: none;
		border-right: none;
	}

	#cert-box-table td:last-child{
		border-top: none;
		border-right: none;
	}

	#cert-box-table tr:first-child{
		border-top: none;
	}

	#cert-box-table tr:last-child{
		border-bottom: none;
	}

	.cert-lable-head{
		font-weight: bold;
	}


	#print-pdf-block{
		float: right;
	}

	#print-pdf-block ul li{
		display: inline;
		margin-left: 5px;
		
		margin-top: -18px;
	}
*/

/*--------------2014-11-30 - Certificate----------------------------*/


.inside-report{
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 6px 14px;
	color: #000000;
}

.inside-report hr{
	border: 1px solid #666666;
	border-bottom: none;
	margin: 20px 0;
}

.inside-report hr#dashed{
	border: 1px dashed #666666;
	border-bottom: none;
	margin: 20px 0;
}


#cert-title{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	margin: 24px 3px;
	padding: 10px 0;
/*	background: #99CC00;
*/	text-transform: capitalize;
}

.inside-report h3{
	font-size: 16px;
	color: #000000;
	margin: 35px 0 15px 0;
}

.inside-report h4{
	font-size: 14px;
	margin: 20px 0 10px 0;
	color: #4660E2;
	text-transform: capitalize;
}


.inside-report .signed{
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	margin: 5px;
	padding: 6px 8px;
	width: 47%;
	height: 50px;
	float: left;
}

.inside-report .cib-address{
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	margin: 5px;
	padding: 6px 8px;
	width: 47%;
	height: 50px;
	float: left;
}

.inside-report .search-details{
	margin: 15px 0;
}

.inside-report .search-details .head{
	font-weight: bold;
	text-decoration: underline;
}


.inside-report .search-details p{
	margin: 2px 0; 
}



.inside-report .section{
	margin: 0 0 15px 0;
}

.inside-report .section ul li{
	display: inline;
	margin-right: 4px;
}


.inside-report .section ul{
	margin: 5px 0;
}

.inside-report .section span{
	font-weight: bold;
	margin: 10px 0 0 0;
}

.description{
	margin: 5px 0;
	font-weight: bold;
}

#cert-box{
	width: 100%;
	border: none;
	text-transform: capitalize;
}

#cert-box th{
	background: #ffffff;
	color: #333333;
	border: none;
}

#cert-box tr{
	background: #ffffff;
	color: #333333;
	border: none;
}

#cert-box td{
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	vertical-align: top;
	padding: 7px 12px;
	border: none;
}

.signed-block{
	width: 50%
}

#cert-box-record{
	width: 100%;
	border: none;
}



#cert-box-record tr{
	background: #ffffff;
	color: #333333;
}

#cert-box-record td{
	border-radius: 3px;
	vertical-align: top;
	text-align: center;
}


#cert-box-table{
	width: 100%;
	border-spacing: 0px;
	border-radius: 3px;
	margin: 10px 0;
	border:none;
}

#cert-box-table th{
	background: #ffffff;
	color: #333333;
	padding: 8px 2px 10px 2px;
	border-spacing: 0;
	text-align: left;
	border: none;
}

#cert-box-table tr{
	background: #ffffff;
	color: #333333;
	padding: 2px;
	border: none;
	
}

#cert-box-table td{
	padding: 2px;
	border-spacing: 0;
	font-weight: bold;
	border: none;
}


.cert-lable-head{
	font-weight: bold;
}


#print-pdf-block{
	float: right;
}

#print-pdf-block ul li{
	display: inline;
	margin-left: 5px;
	
	margin-top: -18px;
}

#btn-print{
	margin-bottom: 10px;
}


/************* no data ***************/
td.no-data{
	text-align: center;
	color: orange;
}
.no-data{
	color: red;
}

/************* no data ***************/

#fs-rcp .sublabel{
	font-weight: normal;
}

/************* notice header ***************/

.notice_header ul li em{
	background: rgb(221, 33, 33);
	color: white;
	font-size: 12px;
	padding: 3px 7px;
	border-radius: 20px;
	font-weight: bold;
}

.notice_header ul li em.checked{
	background: url(../images/checked.png) no-repeat;
	height: 18px;
	width: 18px;
	margin: 0;
	padding: 0;
	display: inline-block;
}
/************* table  ***************/
table{
width: 100%;
font-size: 12px;
border: 1px solid #C4C4C4;
border-radius: 3px;
margin: 5px 0px 10px 0px;
border-spacing: 0;
}

table, th, td{
	border-collapse: collapse;
	border: 1px solid #C4C4C4;
}

table tr.table-head, table tr:first-child {
background: #386ea4;
color: #ffffff;
border: 1px solid #C4C4C4;
}

table th{
background: #fcfcfc;
color: #222222;
padding: 6px;
border: 1px solid #c4c4c4;
border-spacing: 0;
}

/* border-top: none;
border-right: none; 
}*/

/* table th:first-child{
border-left: none;
border-top: none;
border-right: none;
}

table th:last-child{
border-top: none;
bord er-right: none;
}*/

table td{
padding: 4px 4px 4px 16px;
border: 1px solid #C4C4C4;
}

/* table td:last-child{
border: none;
} */

table td.checkbox{
padding:10px;
}

table tr{
background-color: #f9f6f1;
border: 1px solid #C4C4C4;
}

table tr:nth-child(even){
background-color: #ffffff;
border: 1px solid #C4C4C4;
}

table th{
background: #fcfcfc;
color: #222222;
padding: 6px;
border: 1px solid #c4c4c4;
border-spacing: 0;
border-top: none;
border-left: none;
}

/* table th:first-child{
border-left: none;
border-top: none;
} */




/*---------------- 21 dec 2014 front page link style---------*/
.inside-list{
	padding:0;
	margin:0;
}
.inside-list ul{
	padding:0;
	margin:0;
	width:100%;
}

.inside-list ul li{
	list-style: square;
	color: #E67731;
	font-size: 19px;
	padding: 8px 0;
	border-bottom: 1px dotted #E67731;
	margin-left: 21px;;
}

.inside-list ul li a{
	color:#009;
	font-size:15px;
}

.inside-list ul li a:hover{
	text-decoration:none;
	color:#E67731;

}
/*---------------- 21 dec 2014 front page link style ends---------*/