@charset "utf-8";
/* CSS Document */

/* developed and design by F1 soft international */

@define{
	header-background:#333;
}


*{
	margin:0;
	padding:0;
}

img {
max-width:100%;
}

img,a{
	border: none;
}

body{
	/* background:url(../images/body_bg.gif) repeat; */
	/*background: #4787c1;*/
	background: #333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.clear{
	clear: both;
}
textarea{resize:none;overflow: auto;}
select{max-width:200px;}

a{
	text-decoration:none;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:24px;
	font-weight:normal;
	background:url(../images/login_bg.png) no-repeat 0 -2px;
	padding:5px 0 10px 40px;
	border-bottom:1px solid #494949;
}

h2,h3{
	font-family: Arial,Helvetica,sans-serif;
	color: #B23D48;
	font-size: 16px;
	font-weight: bold;
	padding: 6px 0 3px 3px;
/* 	background: #4D4D4D; */
	border-bottom: 2px solid #E9CFCD;
}
h3{
	border:0;
	font-size:13px;
}

/*---LOGIN---*/

#bg{
	/*background:url(../images/bgshine.png) no-repeat top center;*/
	width:100%;
	padding:0 0 50px 0;
}

#login{
	font-family: 'Tahoma', sans-serif;
	/*width: 450px;*/
	margin: 0 auto;
	padding: 0;
	/*margin-top: 90px;*/
	/*box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);*/
}



form.inline{display:inline-block;}

#login .header{
	/*width:450px;*/
	float:left;
	background: #ffffff;
	/*border: 1px solid #777777;*/
	text-align:center;
	padding:20px 0;
	/*-moz-border-radius:3px;
	-webkit-border-radius:3px;*/
	/*border-top-left-radius: 3px;
	border-top-right-radius: 3px;*/
	border-bottom: none;
}

#login .header .logo{
	background:none;
}

#login .container{
	/*width:390px;*/
	background:#ffffff;
	padding:0px 30px 15px 30px;
	/*border:1px solid #777777;*/
	/*margin:50px 0 0 0;*/
	/*-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;*/
	/*border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;*/
	border-top: none;
	/*box-shadow: 6px 2px 30px rgba(0, 0, 0, 0.12) inset;*/
}

#login .container h1{
	background-image: none;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #969696;
	text-align: center;
	padding: 5px 0 10px 5px;
	border-bottom: 1px solid #969696;
}

#login .container .incon{
	width:389px;
	float:left;
	/*padding:35px 0 0 0;*/
	color:#000000;
}

#login .container .incon p.top {
	padding:0 0 15px 0;
	width:389px;
	float:left;
}

#login .container .incon p label, #login .container .incon p.last label{
	width:70px;
	float:left;
	padding:5px 0 0 0;
	font-size: 12px;
}

#login .container .incon p.top input{
	/*width:344px;*/
	float:left;
	padding: 10px 7px 10px 37px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #969696;
	box-shadow: 0px 2px 2px rgba(255,255,255,0.4), inset 0 1px 2px rgba(0,0,0,0.3);
	
}

#login .container .incon p.top input.usrname{
	background: url(../images/usr-icon.png) no-repeat center left;
}

#login .container .incon p.top input.password{
	background: url(../images/password-icon.png) no-repeat center left;
}

#login .container .incon p.last {
    padding: 10px 0 15px;
	width:389px;
	float:left;
}

#login .container .incon p.last a{
	color:#fff;
	text-decoration:underline;
}

#login .container .incon p.last a:hover{
	text-decoration:none;
}

#login .container .incon p.last span.lt {
    float: left;
    width: 120px;
}

#login .container .incon p.last span.rt {
    float: left;
    width: 150px;
}

#login .container .incon p.last input {
    float: left;
    padding: 0 5px 0 0;
    width: 20px;
}


#login .container .left{
	float: left;
	/*margin-right: 20px;*/
	padding: 20px;
	border-right: 1px solid #e2e2e2;
	width: 250px;
}

#login .container .right{
	/*float: right;*/
	padding: 20px;
	margin-left: 20px;
}

.sublink{
	margin-top: 18px;
}

.sublink a{
	margin-right: 20px;
	font-size: 12px;
	color: #646464;
	text-decoration: none;
}

.sublink a:hover{
	text-decoration: underline;
}

.footer-logo{
	float: right;
	margin-top: 30px;
}

.footer-logo label{
	margin: 4px 6px;
	color: #646464;
}	
/*
#bg{
	background:url(../images/bgshine.png) no-repeat top center;
	width:100%;
	padding:0 0 50px 0;
}

#login{
	width:450px;
	margin:0 auto;
	padding:30px 0 0 0;
}

form.inline{display:inline-block;}

#login .header{
	width:450px;
	float:left;
	background:#333;
	border:1px solid #272727;
	text-align:center;
	padding:20px 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

#login .header .logo{
	background:none;
}

#login .container{
	width:389px;
	float:left;
	background:#333;
	padding:30px;
	border:1px solid #272727;
	margin:50px 0 0 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

#login .container .incon{
	width:389px;
	float:left;
	padding:20px 0 0 0;
	color:#fff;
}

#login .container .incon p.top {
	padding:0 0 15px 0;
	width:389px;
	float:left;
}

#login .container .incon p label, #login .container .incon p.last label{
	width:70px;
	float:left;
	padding:5px 0 0 0;
}

#login .container .incon p.top input{
	width:282px;
	float:left;
	padding:7px 2px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:none;
}

#login .container .incon p.last {
    padding: 10px 0 15px;
	width:389px;
	float:left;
}

#login .container .incon p.last a{
	color:#fff;
	text-decoration:underline;
}

#login .container .incon p.last a:hover{
	text-decoration:none;
}

#login .container .incon p.last span.lt {
    float: left;
    width: 120px;
}

#login .container .incon p.last span.rt {
    float: left;
    width: 150px;
}

#login .container .incon p.last input {
    float: left;
    padding: 0 5px 0 0;
    width: 20px;
}*/


.myButton{
	font-size:11px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ddedbd;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ddedbd;
	box-shadow:inset 0px 1px 0px 0px #ddedbd;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #7b7b7b) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #7b7b7b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#7b7b7b');
	background-color:#cc0914;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #303030;
	display:inline-block;
	color:#000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	padding:5px 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b3b3b3;

}
.myButton:hover, .myButton2:hover, .myButton3:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #7b7b7b) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #7b7b7b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#7b7b7b');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7b7b7b), color-stop(1, #f7f7f7) );
	background:-moz-linear-gradient( center top, #7b7b7b 5%, #f7f7f7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7b7b7b', endColorstr='#f7f7f7');
	background-color:#cc0914;
	text-shadow:1px 1px 0px #b3b3b3;
	color:#000;
	text-decoration:none;
}.myButton:active {
	position:relative;
	top:1px;
}


/* -------- index page css ---------*/

#wrapper{
	margin-top:10px;
}

#wrapper .topcon{
	width:100%;
	float:left;
}

.date{
	float:left;
	color:#fff;
}

.admin{
	float:right;

}

.admin p{
	display:block;
}

.admin p span.left{
	width:140px;
	float:left;
	background:url(../images/admin_bg.gif) repeat-x;
	padding:8px 10px;
	-moz-border-radius:5px 0 0 0;
	-webkit-border-radius:5px 0 0 0;
	border-radius:5px 0 0 0;
}

.admin p span.right{
	width:70px;
	float:left;
	background:url(../images/logout_bg.gif) repeat-x;
	padding:8px 10px;
	-moz-border-radius:0 5px 0 0;
	-webkit-border-radius:0 5px 0 0;
	border-radius:0 5px 0 0;

}

.admin p span.right a{
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	text-shadow:1px 1px 0px #253e48;
}

#wrapper .topcon .admin p span.right a:hover{
	text-decoration:underline;
}

.brand{
	/*background:$(header-background);*/
	background : #E6DDDD;
	border:1px solid #272727;
	padding:10px 0;
}

#wrapper .header .hed_con{
	background:$(header-background);
	border:1px solid #272727;
	padding:1%;
	width:98%;
	float:left;
}

#wrapper .header .hed_con .logo_lt{
	width:266px;
	float:left;
}

#wrapper .header .hed_con .logo_rt{
	float:right;
	width:88px;
	padding:18px 0 0 0;


}

.main_nav{
	background:#4d4d4d;
	padding:8px 0 0 0;
	height:29px;
}

#wrapper .maincontainer{
	padding:10px 10px;
	background:#fff;
}

#wrapper .maincontainer h2{ margin-bottom:15px; margin-top:10px;}

.section{padding-bottom:20px; float:left; width:100%}

.section table{
	width:100%;
	background: #FFFFFF;
	/* table-layout: fixed; */
	/* font-size:12px; */
}


.section table td{
	padding:6px 20px;
}
.section table td.actions{
	padding:3px 6px;
}

.section table th{
	background-color:#8295A3;
	color:#fff;
	padding:6px 12px;
}
.section table th.serial{padding:8px 4px;}
.section table tr:nth-child(even) {background: #EFEFEF}
.section table tr:nth-child(odd) {background: #FFF}
.section table tr:hover{background:#ECE6CD;}

.section table.genreport{margin-bottom:35px;}
#gen-report-wrap h3 span{font-size:11px; color:#000;}
#gen-report-wrap strong{font-size: 11px;}
.section table tr.extra, .section table tr.extra:hover{background-color:#F7EEEC;}

.section table tr.aggregate{background-color:#B4B2B7; color:#fff; font-weight:bold;}
.section table tr.red{background-color: #EAACA7;}
.section table.compact td{padding:4px;}
.section table.compact input[type=text]{width:94%;}

.section table.genreport{padding:4px 6px; font-size:12px;}

fieldset table.data{width:100%;}
fieldset table.data tr td:first-child{min-width:35%;}
fieldset table.data td{
	background:#FEFFFE;
	padding:2px;
}


.side-section{margin-top:10px;}

input[type=text].num{text-align:right;}
label{font-weight:bold;}

form p.element{ margin-bottom:2px;padding:4px}
form p.element:hover{background:#E9CFCD;}
form label{width:30%; display:block;float:left; text-align:right; margin-right:20px;padding:2px; font-weight:bold; cursor:pointer;}
form label.left{text-align:left;}
form span.error{text-align:left;color:red; font-size:11px; margin-left:5px;}
form input[type=text], form input[type=password]{padding:2px;}



.controls{ margin-bottom:10px;}
/*
a.action-icon{height:20px; width:20px;display:inline-block; border-radius:3px;
border: 1px solid #AAA;
border-bottom: 1px solid #888;
-webkit-box-shadow: inset 0 0 1px 1px #aaaaaa;
-moz-box-shadow: inset 0 0 1px 1px #aaaaaa;
box-shadow: inset 0 0 1px 1px #aaaaaa;
margin-right:2px;
}*/

a.action-icon{
	height:20px; width:20px;display:inline-block;
	/* background: -webkit-gradient(linear,0 0,0 bottom,from(#888),to(#555));
	background: -moz-linear-gradient(#888,#555);
	background: linear-gradient(#888,#555); 
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);*/
	margin-right:2px;
}/*
a.action-icon:hover{
webkit-box-shadow: inset 0px 0px 4px 2px #c7b56b;
box-shadow: inset 0px 0px 4px 2px #c7b56b;
border:1px solid #867533}*/
span.ui-icon{margin-top: 2px;margin-left: 1px;}

div.usersession{/*  float:right; width:200px; text-align:right; */ color:#fff; font-size:12px;}


div.usersession a{
	color:#fff;
	font-weight:bold;
}

div.usersession a:hover{
	text-decoration:underline;
}
div.usersession p.logout{
	background:url(../images/logoff.png) no-repeat right 5px ;
	padding-right:22px;
	height:28px;
	padding-top:4px;
}

div.response{
	margin-bottom:6px;
	padding:4px 0 4px 4px;
	line-height:16px;
	color:#000;
	font-size:11px;
	font-weight:bold;
}

div.response.error{background:#E8B0B0;}
div.response.info{background:#FFF7A1;}
div.response.success{background:#D8EDA4;}
div.response.alert{background:#E9CFCD;}


/*******************************************
For Dashboard
*******************************************/
.launcher_icons{
	text-align: center;
}

.launcher_icons ul {
margin-top: 20px;
}

.launcher_icons ul li {
width: 80px;
margin: 0 20px 20px 0;
display: -moz-inline-stack;
display: inline-block;
vertical-align: top;
zoom: 1;
}

.launcher_icons ul li a {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0 0 15px #f4f4f4;
-moz-box-shadow: inset 0 0 15px #f4f4f4;
box-shadow: inset 0 0 15px #f4f4f4;
text-decoration:none;
}
.launcher_icons ul li a {
display: block;
padding: 5px;
border: 1px solid #F1F1F1;
}

.launcher_icons ul li a span {
font: 11px Tahoma,sans-serif;
color: #333;
display: block;
}

/*************************************************************
	PAGINATION
**************************************************************/
.tablefooter{
	background:#F7F7F7;
	border-top: 1px solid white;
	display:block;
	
}

.tablefooter .actions {
float: left;
padding: 5px 10px;
}
.tablefooter .pagination {
float: right;
padding: 5px 10px;
}
.pagination {
font: 11px Tahoma,sans-serif;
margin: 7px 0;
text-align: right;
}

.pagination a.current {
background: -webkit-gradient(linear,0 0,0 bottom,from(#888),to(#555));
background: -moz-linear-gradient(#888,#555);
background: linear-gradient(#888,#555);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}

.pagination a.current {
font-weight: bold;
color: white;
background:#555;
border: 1px solid#555;
}

.pagination a {
padding: 4px 7px;
color: #333;
background: white;
margin: 0;
border: 1px solid #E4E4E4;
}

/***************************************
	FORMS
*****************************************/
form input[type=text],form input[type=password],form select,form textarea{
	
}

form select { padding:3px;}


form input[type=button], form input[type=submit], form input[type=reset]{
	border: none; 
	font: 11px Roboto,sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 12px 8px;
	text-shadow: none;
	width: 100%;
	overflow: visible;
	/* line-height: 110%; */
	background: #E67731;
	 box-shadow: none; 
	 border-radius: 3px;
	 transition: background 0.2s ease;
	 box-shadow: inset 0 2px rgba(0,0,0,0.1), 0 2px 1px rgba(0,0,0,0.1);
}

form input[type=button]:hover, form input[type=submit]:hover, form input[type=reset]:hover{
	background: #FF883D;
	color: #ffffff;
	text-shadow: none;
}

/*form input[type=button], form input[type=submit], form input[type=reset]{
	border: 1px solid #444;
	font: 11px Tahoma,sans-serif;
	font-weight: bold;
	color:white;
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 6px 8px;
	text-shadow: 1px 1px 1px #555;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: #888;
	box-shadow: inset 0 1px 2px 
		rgba(255, 255, 255, .6),inset 0 -5px 15px 
		rgba(0, 0, 0, .3),1px 1px 1px 
		#CCC;
}*/

.button{
	border: 1px solid #444;
	font: 11px Tahoma,sans-serif;
	font-weight: bold;
	color:white;
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 6px 8px;
	text-shadow: 1px 1px 1px #555;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: #888;
	box-shadow: inset 0 1px 2px 
		rgba(255, 255, 255, .6),inset 0 -5px 15px 
		rgba(0, 0, 0, .3),1px 1px 1px 
		#CCC;
}
form input[type=button]:active, form input[type=submit]:active,.button:active {
position: relative;
top: 1px;
}


em.required{color:#B8272F;}

fieldset{
	/* margin-bottom:25px; */
	padding:0px 8px 8px 8px;
	background-color:#F7EEEC;
	border:#8295A3 1px solid;
	*padding:15px 8px 8px 8px;
	*position: relative;
	margin: 0 0 2em 0;
}
fieldset legend{
	padding:4px 15px;
	font-weight:bold;
	background-color:#707F8E;
	margin-left:15px;
	color:#F7EEEC;
	*position: absolute;
	*top: -.9em;
	*left: .2em;
}

fieldset div.maincontrol{
	position:absolute;
	top:5px;
	right:5px;
}

fieldset.remit-module{
	padding-top:8px;
	position: relative;
}
fieldset.remit-module label{
	width:auto;
}


#load-template{min-height:200px;}

div#mtcn_search_result{
	margin-top:30px;
}

#mtcn_search_result .header{ margin-bottom:30px;}

div.footer{background:#fff; margin-top:25px; padding:10px 0;margin-bottom:15px;}

/*****************************************************
Breadcrumb
*****************************************************/
.breadcrumb{
	font-weight:bold;
}

.breadcrumb a{
	color:#017FFF;	
}

.breadcrumb span.active{
	color:#000;
}


/******************************************************
Widgets
**********************************************************/
.sortable { list-style-type: none; margin: 0; padding: 0; }
.widget-container{ display:block;}
div.widget{border-radius:4px; border:1px solid #aeaeae; clear:both; margin-bottom:30px;min-height:150px;}
div.widget h3{font-size:12px; font-weight:bold; background:url(../images/block_title_bg.gif) repeat; padding-left:5x; cursor:move; padding:10px 5px; text-shadow: 1px 1px 0 #000000; color: #CFD7E4;}
div.widget-content{ padding:8px; background:url(../images/block_cont_shadow.gif) repeat-x} 

div.widget table{
	width:100%;
}

div.widget table td, div.widget table th{
	padding:1px;
	text-align:left;
	border-bottom:1px solid #cecece;
}

.dashboard-widget-placeholder{border:1px dashed #ccc;  height:200px; margin-bottom:30px;}
div.comm_block_template{ margin-bottom:15px;}

/************************************************************
Transaction Preview
************************************************************/
.preview .header{ margin-bottom:2px;}

.preview table{}
.preview h3{font-size:12px; padding:0;}
.preview table th, .preview table td{ background:none; color:#000; text-align:left;padding:2px 10px;}
.preview table tr:nth-child(even) {background: none;}
.preview table tr:nth-child(odd) {background: none;}
.preview table tr:hover{background:none;}
.preview .txnhead{padding-bottom:2px;}
.preview .txn_amount_details table{ background-color:#DAECFE;}

.preview .txn_agent_details {border:1px solid #000; padding:2px 0;}

.preview .acknowledge p.signature{padding-top:30px;border-bottom:1px solid #000;text-align:center; font-style: italic;}
.preview .acknowledge p.ack_item{text-align:center;}

.preview .header, .preview .txnhead{border-bottom:#7EBEFE 2px solid;}
.preview .txn_details,.preview .txn_amount_details{margin-bottom:5px;margin-top:5px;}
.preview .txn_amount_details p.amount_words{margin-top:5px;}
.preview .separator{border-bottom:1px dashed #000; margin:5px 0 15px 0;}

p.element .ms-container{margin-left:31%; background-position:195px 85px;}

.voucher_wrap .watermark{
	position:absolute; 
	z-index:-1; 
	font-size:800%; 
	font-weight:bold; 
	color:#DFDFDF; 
	left:20%; 
	top:18%;
	transform:rotate(-20deg);
	-ms-transform:rotate(-20deg); /* IE 9 */
	-moz-transform:rotate(-20deg); /* Firefox */
	-webkit-transform:rotate(-20deg); /* Safari and Chrome */
	-o-transform:rotate(-20deg); /* Opera */
}

.voucher_wrap{position:relative; z-index:2}

.report-toolbox{background:#ccc; border-radius:6px; padding:6px;}

.aml_alert{
	background: #FFDEE0;
    margin-bottom: 20px;
    padding: 5px;
}

.aml_alert h4{
	color:#990000;
}

.aml_index{margin-bottom:20px;}

.aml_index_detail{float:left;}

.aml_index_detail span{ 
	float:left; 
	width:10px; 
	height:10px; 
	margin-right:10px;
}

.aml_alert_div{
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color:#990000;
}


.critical_message_alert{
	background:#FFDDDD;
	border:1px solid #FF0000;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.critical_message_alert h3{
	background: url("../images/h1bg.gif") repeat scroll 0 0 transparent;
	border-bottom:1px solid #ccc;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
    color: #990000;
    font-size: 13px;
    padding: 10px 5px;
}

.critical_message_alert h3 img{margin-right:5px;}

.critical_message{
	margin:8px 10px;
	font-size:12px;
}

.sidenote{
	background:#ccc;
	padding:20px;
	border-radius:10px;
}

.sidenote h4{
	border-bottom:1px solid #000;
}

p.extra_info{
	background: #FF9900;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
}

	
.filter-area{
margin:20px 0;
border:1px solid #999 !important;
}

.filter-area tr{
background:#EFEFEF !important;
border:none !important;
}

.filter-area input, .filter-area select {
border:1px solid #CCC;
}

.filter-area input[type="text"]{
	padding-top:4px;
	padding-bottom:4px;
}

.filter-area tr th{text-align:left !important}

table.genreport tr td, table.genreport tr th{text-align: left !important}

.no-result-found{padding:10px auto; text-align:center; font-weight:bold; margin:10px 0; color:#990000}

.main{min-height:300px}

div.usersession a.logout{
	background:url(../images/logoff.png) no-repeat right 0px ;
	display:block;
	float:right;
	padding-right:22px;
	height:28px;
}

div.usersession span.welcome{display:block; margin-right:10px; float:right;}

.notice_header ul{
		margin-top: 10px;
	background: rgb(86, 180, 93); 
}

.notice_header ul li{
	list-style: none;
	float: left;
	background: rgb(120, 223, 127);
	font-size: 16px;
	padding: 10px;
	border: 4px solid #4787c1; 
	min-width: 170px;
}

.notice_header ul li a, .notice_header ul li span {
		float: left;
}
.notice_header ul li em{
	background: red;
	color: white;
	font-size: 12px;
	padding: 2px;
	margin-left: 2px;
	border-radius: 4px;
	font-weight: bold;
}
