@media print
{    
	.no-print, #codeigniter_profiler, .no-print *
	{
		display: none !important;
	}

	body{
		background: white;
	}
	.header, #nav-bar, .usersession, .breadcrumb, #breadcrumb, .footer, #footer, #print-pdf-block, .name-search-block, .banner, .nav{
		display: none !important;
	}
	#btn-print{
		display: none !important;
	}
	
	#inside-content, .inside-report, .main, #main-content{
		padding: 5px;
		margin: 0;
		border: none;
	}

	.inside-report .search-details{
		margin: 5px 0;
	}

	.inside-report h3{
		margin: 5px 0;
	}
}	
