	
.menu ul li ul{
	z-index: 1000;
}
.header{
	min-height: 36px !important;
	background: none !important; 
}

tbody tr td{
	background: white;
	color: black;
}
tr.last_month td{
	background-color: rgb(240, 75, 15);;
	color: white;
}
label{
	width: 40%;
}
.client_logo{
	display: table;
	margin: 0 auto;	
}

.nav{
	background: #DD3E29;
}

.menu ul{
	background: #DD3E29;
}

.menu ul li a{
	color: #F9F9F9;
}
.menu ul li{
	border-top: 3px solid #DD3E29;
}

.menu ul li:hover{
	border-top: 3px solid #FFFFFF;
}

.menu ul li:hover a{
	color: #FFFFFF;
}

body.front{
	background-color: #E8AE52;
}

@media print
{        
	body{
		background: none !important;
	}
	.main-content{
		box-shadow: none;
		padding: 0;
		font-size: 130%;
	}
	header {  display: none; }

	.no_print{
		display:none; 
	}
	label{
		width: 50%;
	}
	table th{
		background-color: orange;
		color: white;
	}

	.validForm p.element.line{
		line-height: 20px;
	}
}



